.root {
    padding: 2px 4px;
    display: flex;
    align-items: center;
    width: 400px;
}
.input {
    flex: 1;
    margin-left: 8px;
}
.iconButton {
    padding: 10px;
    right: 0;
}
.divider {
    height: 28px;
    margin: 4px;
}
.add{
    margin: 0 auto;
    width: 400px;
}
.alignmain{
    margin: 0 auto;
    width: 50%;
    padding: 0 50px;
}
.main{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
.todo {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.complete {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.todo .cb, .complete .cb{
    margin-right: 5px;
}
.todo .ib, .complete .ib{
    margin-left: 15px;
}

br{
    clear: both;
}

.item{
    margin: 8px;
    width: 400px;
}
.item .ib{
    float: right;
}
.item .Paper{
    padding: 3px 2px;
}
.item .Paper:hover{
    background-color: #e3e3e3;
}
.Paper .text{
    width: 290px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: -5px;
}
.text .tooltiptext {
    visibility: hidden;
    background-color: #222222;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
  }
  .text:hover .tooltiptext {
    visibility: visible;
  }

